body {
	background-color: cyan;
}

.new-border {
	border: 2px solid black;
}

.title-color {
	border-color: blue;
}

.text1-color {
	border-color: orange;
}

.text2-color {
	border-color: purple;
}

.image-color {
	border-color: pink;
}

.footer-color {
	border-color: red;
}
.top-nav {
	background-color: goldenrod;
	height: 45px;
}
.top-nav li {
	list-style: none;
	font-family: arial;
	display: inline-block;
	padding: 10px;
	cursor:pointer;
}
.top-nav li:hover {
	color: green;
}
/*
.new-border2 {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}*/